html {
    height: 100%;
}

body {
    min-height: 100%;
}

#content {
    margin-right:256px;
    padding:64px;
}

#menu {
    width: 256px;
    position: absolute;
    right:0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.menu-item {
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    /* background-color:#CCC; */
    /* vertical-align: middle; */
}
.menu-item:hover {
    cursor: pointer;
    color:white;
    background: rgba(0, 0, 0, 0.5)
}