body {
    background-color:#EEE;
}

.side-bar {
    background-color:rgb(32, 44, 51);
    color:#EEE;
}

.side-bar-item {
    transition: 0.5s;
}

.side-bar-item:hover {
    background-color:rgb(52, 84, 102);
    color:#FFF;
    text-shadow: 0px 0px 8px white;
}

.login-form {
    background-color:#FFF;
    box-shadow: 0px 4px 16px 0px #AAA;
}

.login-logo {
    font-size:36px;
    font-weight: bold;
    background-color:#222;
    color:white;
}

.btn-login {
    background-color:#222;
    color:#DDD;
    box-shadow: 0px 2px 8px 0px #555;
}
.btn-login:hover {
    color:#FFF;
    text-shadow: 0px 0px 4px #DDD;
}

.form-simple {
    border: 0px;
    border-bottom: solid 2px #AAA;
    border-radius: 0px;
}

.language {
    background-color: #222;
}

.column:nth-child(2n-1) {
    border-right: 1px solid #CCC;
}
.column:nth-child(2n) {
    border-left: 1px solid #CCC;
}

.course-active {
    background-color: #80ddff;
    transition:0.5s;
    box-shadow: 0px 4px 16px 0px #AAA;
    border: 1px solid #75b5ff;
}
.course-active:hover {
    background-color: #a8e8ff
}

.course-closed {
    background-color: linear-gradient(to left bottom, #ffd380, #ffd99a, #ffdfb4, #ffe7cd, #f9efe6);
}

.course-archived {
    background-color: linear-gradient(to left bottom, #9d9d9d, #adadad, #bdbdbd, #cdcdcd, #dedede);
}

.class-box {    
    color:#222;
    transition:0.5s;
    box-shadow: 0px 2px 4px 1px #999;
}

.page-error {
    color:#AAA;
}

.block {
    background-color:#F9F9F9;
    border-radius: 4px;
    border:2px solid rgb(36, 137, 196);
    border-left: 8px solid rgb(36, 137, 196);
    /* background-color:#DDD; */
    color:#222;
}

.block-clickable {
    background-color:#222;
    color:#DDD;
    transition: 0.5s;
}
.block-clickable:hover {
    color:#FFF;
    text-shadow: 0px 0px 4px #DDD;
    background-color: #333;
}

.clickable {
    color:#222;
    transition: 0.5s;
}
.clickable:hover {
    color:rgb(29, 107, 153);
    text-shadow: 0px 0px 4px rgb(148, 221, 255);
}

.icon-48 {
    color:#222;
}

.icon {
    color:#222;
}

.icon-inverse {
    color: #DDD;
}

.archived {
    border:2px solid rgb(153, 29, 29);
    border-left: 8px solid rgb(153, 29, 29);
    background-color:rgb(204, 188, 185)
}
.archived .clickable:hover {
    color:rgb(153, 29, 29);
    text-shadow: 0px 0px 4px rgb(255, 148, 148)
}

.closed {
    border:2px solid rgb(27, 27, 27);
    border-left: 8px solid rgb(27, 27, 27);
    background-color:rgb(121, 121, 121)
}
.closed .clickable:hover {
    color:rgb(27, 27, 27);
    text-shadow: 0px 0px 4px rgb(58, 55, 55);
}

.editable {
    background-color:#fff;
    border:1px solid #ced4da;
    color:#495057;
}

.list-changer {
    color: rgb(42, 64, 77);
}

.grade {
    color:#FFF;
}

.post-block {
    background-color:#F9F9F9;
    border-radius: 4px;
    border:1px solid rgb(36, 137, 196);
    /* background-color:#DDD; */
    color:#222;
}

.btn-normal {
    background-color:rgb(36, 137, 196);
}